<!DOCTYPE html>
<html ng-app="Garden">
    <head>
        <meta charset="utf-8">
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
        <script src="app.js"></script>
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <link rel="stylesheet" href="index.css">
        <title>Garden Simulator</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <body>
        <div ng-controller="GardenCtrl as garden">
            <div class="scene-container">
                <div class="scene">
                    <div class="plant-container">
                        <div ng-if="!garden.plant.watered" class="arrow_box">
                            💧
                        </div>
                        <div class="plant">
                            🌱
                        </div>
                    </div>
                    <div class="ground">
                        <button ng-click="garden.waterPlant()">
                            water the plant
                        </button>
                    </div>
                </div>
                <a class="kofi-link" href='https://ko-fi.com/A1131F'>Support Me on Ko-fi <span>♥</span></a>
            </div>
        </div>
    </body>
</html>